 
*{
    padding: 0;
    margin:0;
}
#navbar{
    background-color: #0f1111;
    color:white;
    height:60px;
    
    
}
#logo
{
    color:#f08804;
    text-size-adjust: 25px;;

}
a{
    text-decoration: none;
    color:white;
    margin-right: 200px;

}
#s1{
    background-color: #f08804;
    color:white;
    width:50px;

#b1
{
    color: blueviolet;
    cursor:pointer;
    width:105px;
    height:75px;
    display: block;
}
h1{
    margin-bottom: 40px;

}
body{
    height: auto;
    flex-direction: column;
    width: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    


}
