*{
    margin:0;
    padding:0;
    font-size: Gilroy, arial, Helvetica Neue, sans-serif;
}
.first
{
    height:900px;
     width:auto;
     background-color: rgb(255, 82, 0);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px 40px;
    padding-top: 70px;
    gap:30px;
    margin-right:251px;
    
}
.navbar-left
{
    margin-left:80px;
}
.navbar-right a
{
    /* display:none; */
    justify-content: space-between;
    text-decoration: none;
    color: #ffff;
    font-family: Gilroy, arial, Helvetica Neue, sans-serif;
    font-size:16px;
    font-weight:600;
    line-height: 21px;
     /* gap :32px; */
     margin-left: 15px;

    /* -webkit-font-smoothing: antialiased */
}
#app
{
    border:1px solid #ffff;
    padding:20px 20px;
    border-radius:10px;
}
.fa-arrow-up
{
    transform: rotate(45deg);
}
#sign-in
{
    background-color: black;
    color:#fff;
    padding: 20px 40px;
    border-radius:10px;
}
#head1
{
    color:white;
    display: block;
   
    font-size: 56px;
    font-family: Gilroy, arial, Helvetica Neue, sans-serif;
    font-weight: 600;
    width: 100%;
    max-width:900px;
     margin:auto auto; 
     margin-left:250px;
    padding:0 10px;
    text-align: center;
    /* margin-bottom:10px; */
     margin-top: 60px; 
     letter-spacing: -0.3px;
    line-height: 50px;
    margin-bottom:120px;
}
.search-box {
    position: relative;
    /* justify-content: center; */
    /* top:-53px; */
    display: inline;
    bottom:10%;
    left:20%;
    max-width: 500px;
    width: 80%;
    padding-right: 10px;

    
}

.fa-location-dot {
    font-size:24px;
    position: absolute;
    left: 10px;
    top: -4px;
    /* height:58px; */
    /* transform: translateY(-50%); */
    color: rgb(255, 82, 0);
}
.fa-angle-down 
{
    font-size:24px;
    position: absolute;
    top:-4px;
    /* transform:translateY(50%); */
    tRANSform:translateX(-154%);
    color:rgba(0, 0, 0, 0.637);
    /* padding-right:20px; */
}
#s1 {
    padding-left: 40px; /* leaves space for the icon */
    padding-right: 60px;
    height: 58px;
    width: 300px;
    font-size: 15px;
    border-radius: 15px;
    border:1.5px solid rgba(2, 6, 12, .15);
    /* box-shadow: none; */
    /* padding-right: 20px; */

}
.search2
{
    padding-left: 20px;
}
input{
    caret-color: rgb(255, 82, 0);
    border:1px solid white;
    outline: none;
}
#search
{
    /* padding-left: 20px; */
    display: inline;
    padding-right:200px;
    height:58px;
    width: 508px;
    font-size: 15px;
    border-radius: 15px;
    border:1.5px solid rgba(2, 6, 12, .15);
    padding-left: 10px;
    caret-color: rgb(255, 82, 0);

}
.fa-magnifying-glass
{
     transform: translateX(-248%); 
     color:rgba(2,6,12,0.6);
    /* position: absolute;
    left:40px; */
}
.card-layout
{
    display:flex;
    align-items: center;
    width: 100%;
    /* max-width: 80%;
    min-height: 320px;
    flex-wrap: nowrap; */
    border: none;
    

}
.card{
    background-color: rgb(255, 82, 0);
    border: none;
}
#card1{
    margin-left:120px;
}
.card img{
    height:332px;
    width:364px;
    padding-right: 30px;
    background-color: rgb(255, 82, 0);
    /* border: 1px solid rgb(255, 82, 0); */
    border-style: none;
    border: none;
    
}
.card img:hover{
    cursor: pointer;
}
.sec-head
{
    margin-top:80px;
    margin-left:120px;
    color:black;
    font-family:Gilroy, arial, Helvetica Neue, sans-serif;
    font-weight: 600;
    font-size: 24px; 
    line-height: 26px;
}
.buttons1,.buttons2{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    width:100%;
    /* overflow-x: auto;  */
    /* Enable horizontal scrolling when content overflows */
    white-space: nowrap;
}

#biryani
{
     margin-left:120px;
}
#pastry
{
    margin-left: 120px;
}
.food{
    border:none;
   
}
.food img{
    height:180px;
    width:144px;
    background-color: #fff;
    border:none;
    display:block;
    cursor: pointer;
}
.app{
    margin-top:30px;
}
.app img
{
   /* object-fit: contain; */
    height: 100%;
    width: 100%;
}
